{% extends 'AWifiPubBundle::layout.html.twig' %}

{% block contenido %}

<h2>{{titulo}}</h2>


<a href="{{ path('wifipub_admin_add', {'tabla': titulo})}}">Añadir {{titulo}} </a>
<table>
      <tr>
      	  <th>Razón Comercial</th>
          <th>Nombre</th>
          <th>email</th>
      </tr>
		
 {% for elemento in elementos %}

      <tr>
          <td><a href="{{ path('wifipub_admin_ver', {'tabla':titulo, 'id': elemento.id}) }}">{{elemento.RazonComercial}}</a></td>
          <td>{{ elemento.Nombre }} {{ elemento.Apellidos }}</td>
          <td><a href="mailto:{{ elemento.Email }}">{{ elemento.Email }}</a></td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}