  {% extends 'AWifiPubBundle::layout.html.twig' %}

  {% block contenido %}

  <h2>Detalle {{tabla}}</h2>
{% if  elemento.RazonComercial is defined %}
 <h3>{{elemento.RazonComercial}}</h3>
 {% elseif elemento.Descripcion is defined %}
 <h3>{{elemento.Descripcion}}</h3>
  {% else %}
 <h3>{{elemento.NumSerie}}</h3>
{% endif %}

  <table >

{% for columna in columnas %}
      <tr>
          <td>{{ columna.column_name }}</td>
          <td>{{ elemento[columna.column_name] }} </td>
      </tr>
  {% endfor %}

  </table>
  {% if  elemento.id is defined %}
 <a href="{{ path('wifipub_admin_edit', {'tabla': tabla,'id': elemento.id})}}">Editar </a>
 {% endif %}
 {% endblock %}
